<script type="text/javascript">
    jQuery(document).ready(function($){
        $('.marquee').scrollForever();
    });
</script>
<div class="parallax-window" data-image-src="http://sungil.xiso.kr/./files/attach/images/134/134/3bfc06605a9d332f9e6015d4b82f5ad6.jpg" data-parallax="scroll">
    <h1>Sungil Hi-Tech</h1>

    <h2>Core Idea Creating Valve of New Era Industries</h2>

    <p>Sungil Hi-Tech Co., Ltd. total solution provider for core machinery items of gear reducers, valves, electromagnetic hammer even to industrial plants in precision machinery industry fields from the clients&rsquo; beneficial viewpoints providing with design, manufacture, delivery, commissioning and performance guaranteeing by EPC type project execution</p>
</div>

<section class="overview">
    <h2>Company Overview</h2>

    <ul class="cols2">
        <li>
            <h4>Turnover / Employees</h4>
            KRW 15 bil. / 80 staffs in 2012</li>
        <li>
            <h4>Passion and Innovation</h4>
            for PLANT/GEAR REDUCER/VALVE industry leader</li>
    </ul>

    <div style="clear:both;"></div>

    <h3>CERTIFICATIONS</h3>
    <div class="marquee">
        <ul>
            <li>
                <img alt="1_1_s.gif" data-file-srl="182" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/4a4982b6021f99d57680f6dcb1181329.gif" />
                </li><li>
                <img alt="1_2_s.gif" data-file-srl="183" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/dc2a8f93ad40842c4ea776ca6411c2fc.gif" />
                </li><li>
                <img alt="1_3_s.gif" data-file-srl="184" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/fabb95cf8f32977647006d9ba7774101.gif" />
                </li><li>
                <img alt="1_4_s.gif" data-file-srl="185" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/679ac7d7ceeb195430071dd205b99f5a.gif" />
                </li><li>
                <img alt="2_1_s.gif" data-file-srl="186" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/67290a182cc01e780c26ccb5eb78742e.gif" />
                </li><li>
                <img alt="2_2_s.gif" data-file-srl="187" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/29e55ba147bc32e67b4e39bb9a4a391b.gif" />
                </li><li>
                <img alt="2_3_s.gif" data-file-srl="188" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/a55ecd20d6d6fdfc519096053d77d0ae.gif" />
                </li><li>
                <img alt="3_1_s.gif" data-file-srl="189" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/4a05716f244233a101b883a673fb2bc8.gif" />
                </li><li>
                <img alt="3_2_s.gif" data-file-srl="190" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/a53e1f97e433b61aa1023ae6084b39a4.gif" />
                </li><li>
                <img alt="3_3_s.gif" data-file-srl="191" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/377bca463337ea12d4d357523007f3fc.gif" />
                </li><li>
                <img alt="4_1_s.gif" data-file-srl="192" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/7a43a32ce343bf1f6b2d2bcb124f5d2e.gif" />
                </li><li>
                <img alt="4_2_s.gif" data-file-srl="193" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/feaadccbea13ca1d75c707b93b63f835.gif" />
                </li><li>
                <img alt="4_3_s.gif" data-file-srl="194" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/72696b44b12f2a187ae9a27d59ab12be.gif" />
                </li><li>
                <img alt="4_4_s.gif" data-file-srl="195" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/5b94ae1466844c7f66dcbe2929baf793.gif" />
                </li><li>
                <img alt="4_5_s.gif" data-file-srl="196" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/f3d56ae741cf7666d1b92f69b167ccd4.gif" />
                </li><li>
                <img alt="5_1_s.gif" data-file-srl="197" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/dfbf93027ddd188fb1f45c5ec6210937.gif" />
                </li><li>
                <img alt="5_2_s.gif" data-file-srl="198" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/47e2b2536a012a2871e484cc6f0ab1f5.gif" />
                </li><li>
                <img alt="5_3_s.gif" data-file-srl="199" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/84284a01ea1f4c3936f9cbe6b2ebb8df.gif" />
                </li><li>
                <img alt="5_4_s.gif" data-file-srl="200" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/e82d238e16346a4d6c1225eb04181115.gif" />
                </li><li>
                <img alt="6_1_s.gif" data-file-srl="201" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/6344c35fd3de63bdfb9e903351c98d60.gif" />
                </li><li>
                <img alt="6_2_s.gif" data-file-srl="202" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/134/134/a45e9a5e1dac4065034e9306c8259dda.gif" />
            </li>
        </ul>
    </div>
    <p>
        With the best quality and customer’s satisfaction,
        We promise to be the most reliable company.
        All staff of SUNGIL HI-TECH Co., Ltd. will do our best on each working part.
    </p>

    <div style="clear:both;"></div>
</section>
<div class="graybox">
    <h3>WHAT WE DID</h3>
    <ul class="history">
        <li><h4>Apr. 1978</h4><p>
            Established SUNGIL Precision Machinery</p></li>
        <li><h4>Jan. 1989</h4><p>
            Facilities expansion and initiated gear reducer mass-production system</p></li>
        <li><h4>May 1991</h4><p>
            Designated as Supreme Supplier by POSCO</p></li>
        <li><h4>May 1992</h4><p>
            Enrolled in the member of Korea Machinery Industry Cooperation Union</p></li>
        <li><h4>Jun. 1994</h4><p>
            Designated as Supreme Technology Enterprise by Korea Technology Credit Guarantee Fund</p></li>
        <li><h4>Jan. 1998</h4><p>
            Designated as Venture Enterprise by The Small and Medium Business Administration, Busan District</p></li>
        <li><h4>May 1999</h4><p>
            Incorporated into SUNGIL Precision Machinery Co., Ltd. (SIPCO)</p></li>
        <li><h4>Jan. 2000</h4><p>
            Acquired ISO9001 Certification (Certificate No. : AJA002673)</p></li>
        <li><h4>Apr. 2005</h4><p>
            Acquired the patent for Disc Pressed Metal Seat Butterfly Valve Simultaneously acquired the patent certifications in Japan, China and U.S.A.</p></li>
        <li><h4>Feb. 2006</h4><p>Authorized R&D project from government electricity company
            (Development Task : non-leakage butterfly valve)</p></li>
        <li><h4>Aug. 2006</h4><p>Designated as Technology Innovating Small Enterprise (INNO-BIZ)</p></li>
        <li><h4>Mar. 2007</h4><p>Authorized R&D project from government electricity company (Development Task : localization of pulverizer mill reducer)</p></li>
        <li><h4>Sep. 2007</h4><p>Registered as Clean Manufacturing Shop by KOSHA</p></li>
        <li><h4>Jan. 2008</h4><p>Designated as Supreme Supplier by Doosan Heavy Industries & Construction Co., Ltd.</p></li>
        <li><h4>Nov. 2008</h4><p>Made MOU with IHI Corporation, Japan for the supply of gears (Jan. 2009 ~ Dec. 2009, total order volume approximately USD 3 Mil.)</p></li>
        <li><h4>Jun. 2009</h4><p>Appointed as Export Aided Small & Medium Enterprise by The Small & Medium Business Administration</p></li>
        <li><h4>Oct. 2009</h4><p>Awarded USD One(1) Mil. Export Prize from government</p></li>
        <li><h4>Sep. 2010</h4><p>Awarded the governmental prize for Man of Merits On Excellent Capital Goods</p></li>
        <li><h4>May 2011</h4><p>Authorized for API Monogram (API 609)</p></li>
        <li><h4>Mar. 2012</h4><p>Made MOU with JTSC, Japan for Tunnel Boring Machine components
            (Apr. 2012 ~ Mar. 2018, expected order volume approximately USD 4 Mil.)</p></li>
        <li><h4>Jan. 2015</h4><p>
            Renewal of ISO14001</p></li>
    </ul>
    <div style="clear:both;"></div>
</div>