
<script type="text/javascript">
    jQuery(document).ready(function($){

        $(function() {
            $('body').vegas({
                slides: [
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/c46c33127e897df0a16c718e6b42d37d.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/621038ce871b5330c9547afc550da922.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/9bb521b399f36e2ac0ef52c72d325585.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/9719c6eb7ed945eb60c6aef71039c295.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/2fd8bac37498f8ad98b01c92b5c563d5.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/096495f54326c4f48df7ced7724511be.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/30f9fd8e02b24d29da5cf8c0228a2a5f.jpg' },
                    { src: 'http://sungil.xiso.kr/./files/attach/images/146/146/dc3311c097ccad7147a3b0491b59eca3.jpg' },
                ]
            });
        });


    });
</script>



<div class="fullscreen">
    <h1>SUNG IL Hi-tech</h1>
    <h2>Core Idea Creating Valve of New Era Industries</h2>
</div>


<div class="whitebox" id="company_intro">
    <div class="max-width text-center">
        <h2>Company introduction</h2>

        <p>Sungil Hi-Tech Co., Ltd.</p>

        <p>total solution provider for core machinery items of gear reducers, valves, electromagnetic hammer</p>

        <p>even to industrial plants in precision machinery industry fields from the clients&rsquo; beneficial viewpoints providing with design,</p>

        <p>manufacture, delivery, commissioning and performance guaranteeing by EPC type project execution</p>
    </div>
    <a class="morebtn" href="../about">More <i class="xi-angle-right"></i></a></div>


<div class="graybox" id="business_area">
    <h2>WHAT WE DO</h2>
    <div class="max-width row">
        <div class="col-xs-6 col-sm-3">
            <div class="item_card" style="background-image:url('http://sungil.xiso.kr/./files/attach/images/146/146/9d263d5c5387cd1c3662d2778b67c4c2.jpg');">
                <div class="overlay">
                <h3>Gear Reducer</h3>
                </div>
                <div class="colorcard">
                <ul>
                    <li>- Planetary Reducer</li>
                    <li>- Parallel Shaft Type Reducer</li>
                    <li>- Right Angle Shaft Type Reducer</li>
                    <li>- Cooling Tower Reducer</li>
                    <li>- Special Purpose Reducer</li>
                </ul>
                <a href="../gearreducer">CLICK</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="item_card" style="background-image:url('http://sungil.xiso.kr/./files/attach/images/146/146/e6b94c6af271a5cbafd374494bb0fc9e.jpg');">
                <div class="overlay">
                    <h3>Valve</h3>
                </div>
                <div class="colorcard">
                <ul>
                    <li>- Butterfly Valve</li>
                    <li>- Dual Check Valve</li>
                    <li>- Ball Valve</li>
                    <li>- Knife Gate Valve  </li>
                </ul>
                <a href="../gearreducer">CLICK</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="item_card" style="background-image:url('http://sungil.xiso.kr/./files/attach/images/146/146/b2e71dbe1953e2c791419f94573a22c7.jpg');">
                <div class="overlay">
                    <h3>Plant</h3>
                </div>
                <div class="colorcard">
                <ul>
                    <li>- Pulverizer</li>
                </ul>
                <a href="../gearreducer">CLICK</a>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="item_card" style="background-image:url('http://sungil.xiso.kr/./files/attach/images/146/146/64ff32b6a765d7b6c1bfde3ecb5b2578.jpg');">
                <div class="overlay">
                    <h3>Electronic Hammer</h3>
                </div>
                <div class="colorcard">
                <ul>
                    <li>- Driving Generator</li>
                    <li>- Transducer</li>
                </ul>
                <a href="../gearreducer">CLICK</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="graybox" id="major_facilities">
    <h2 class="text-center">Major facilities</h2>

    <div class="row max-width">
        <div class="col-xs-6 col-sm-4 col-md-3">
            <img alt="성일웹3차-복사본_32.jpg" data-file-srl="164" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/24ba6a7ca9c40326597c4742b11fd64a.jpg" />
        </div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_33.jpg" data-file-srl="165" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/885d1cbf659ba2a5b5ce004a25e597a6.jpg" /></div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_34.jpg" data-file-srl="166" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/b65e366a0ee5c7d6ca2fc42162ea6cb2.jpg" /></div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_35.jpg" data-file-srl="167" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/5517240eb91864b7714fc19791751d98.jpg" /></div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_38.jpg" data-file-srl="168" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/af3d69b7758d5356a191f59ee20a1ee1.jpg" /></div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_39.jpg" data-file-srl="169" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/d567883eb063516b8e98b153ac7e8b0a.jpg" /></div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_40.jpg" data-file-srl="170" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/22f57a8956ab6724aa03515b4c66568e.jpg" /></div>

        <div class="col-xs-6 col-sm-4 col-md-3"><img alt="성일웹3차-복사본_41.jpg" data-file-srl="171" editor_component="image_link" src="http://sungil.xiso.kr/./files/attach/images/146/146/46a4fb3fcd1c7bda31ff0afb11ce8659.jpg" /></div>
    </div>
    <a class="morebtn" href="../faci">More <i class="xi-angle-right"></i></a></div>



